:root {
  --color-primary-dark: #004588;
  --color-primary-light: #e0e6e9;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.default-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  background: linear-gradient(to top, var(--color-primary-dark) 0%, #0077c9 100%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}
