.task-card {
  background-color: var(--color-bg-light);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-card);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-card-hover);
}

.task-name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#task-header {
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
  min-width: var(--min-form-width);
  cursor: point;
  gap: 10px;
}

.edit-button {
  background: linear-gradient(
    to top,
    var(--color-yellow-button-light),
    var(--color-yellow-button-dark)
  );
  border: 1px solid var(--color-yellow-button-border);
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: var(--shadow-button);
  transition: all 0.3s ease;
}

.edit-button:hover {
  background: linear-gradient(
    to top,
    var(--color-yellow-button-dark),
    var(--color-yellow-button-light)
  );
}

@media (max-width: 600px) {
  .task-card {
    width: auto;
    min-width: auto;
    max-width: 100%;
    margin: 10px 0;
  }

  #task-header {
    gap: 5px;
    padding: 10px;
    width: auto;
    min-width: 400px;
    max-width: 100%;
  }

  .task-name {
    font-size: 1rem;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }
}

@media (max-width: 400px) {
  .task-card {
    width: auto;
  }

  .task-name {
    font-size: 0.9rem;
  }

  #task-header {
    width: auto;
    min-width: 260px;
    max-width: 100%;
  }

  .edit-button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}
